[submodule "dotbot"]
   path = dotbot
   url = https://github.com/anishathalye/dotbot

[submodule "dracula-theme"]
   path = dracula-theme
   url = https://github.com/zenorocha/dracula-theme

[submodule "oh-my-zsh"]
   path = oh-my-zsh
   url = https://github.com/robbyrussell/oh-my-zsh
   ignore = dirty

[submodule ".oh-my-custom-zsh/plugins/zsh-syntax-highlighting"]
   path = .oh-my-custom-zsh/plugins/zsh-syntax-highlighting
   url = https://github.com/zsh-users/zsh-syntax-highlighting

# vim plugins
# neocomplete - cached autocomplete
[submodule ".vim/plugged/neocomplete"]
   path = .vim/plugged/neocomplete
   url = https://github.com/Shougo/neocomplete

# auto-pair - pairs brackets, quotes, parantheses
[submodule ".vim/plugged/auto-pairs"]
   path = .vim/plugged/auto-pairs
   url = https://github.com/jiangmiao/auto-pairs

# comments/uncomments lines  
[submodule ".vim/plugged/nerdcommenter"]
   path = .vim/plugged/nerdcommenter
   url = https://github.com/scrooloose/nerdcommenter
