[submodule "dotbot"]
   path = dotbot
   url = https://github.com/anishathalye/dotbot

[submodule ".vim/plugged/YouCompleteMe"]
   path = .vim/plugged/YouCompleteMe
   url = https://github.com/Valloric/YouCompleteMe
   ignore = dirty

[submodule ".vim/plugged/syntastic"]
   path = .vim/plugged/syntastic
   url = https://github.com/scrooloose/syntastic
   ignore = dirty

[submodule ".vim/plugged/ultisnips"]
   path = .vim/plugged/ultisnips
   url = https://github.com/SirVer/ultisnips
   ignore = dirty

[submodule ".vim/plugged/vim-snippets"]
   path = ./vim/plugged/vim-snippets
   url = https://github.com/honza/vim-snippets
   ignore = dirty

[submodule ".vim/plugged/vim-vinegar"]
   path = .vim/plugged/vim-vinegar
   url = https://github.com/tpope/vim-vinegar
   ignore = dirty

[submodule ".vim/plugged/supertab"]
   path = .vim/plugged/supertab
   url = https://github.com/ervandew/supertab
   ignore = dirty
